<app-header-one></app-header-one>
<!-- Start Subheader -->
<div class="normal-bg subheader" style="background-image: url('assets/images/hotel1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheader-content">
                    <h1 class="page-title text-custom-white fw-600">Détails de l'hôtel</h1>
                    <ul class="custom-flex breadcrumb">
                        <li>Hôtels</li>
                        <li>&nbsp;>&nbsp;</li>
                        <li>Détails de l'hôtel</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Subheader -->
<!-- Start shop detail -->
<section class="section-padding shop-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="mb-md-80">
                    <div class="shop-detail-slider mb-xl-30">
                        <div class="slide-item animate-img">
                            <a href="#">
                                <img src="assets/images/hotel1.jpg" class="image-fit" alt=""
                                style="width:440px;height:450px;">
                            </a>
                        </div>
                        <div class="slide-item animate-img">
                            <a href="#">
                                <img src="assets/images/hotel2.jpg" class="image-fit" alt=""
                                style="width:440px;height:450px;">
                            </a>
                        </div>
                        <div class="slide-item animate-img">
                            <a href="#">
                                <img src="assets/images/hotel3.jpg" class="image-fit" alt=""
                                style="width:440px;height:450px;">
                            </a>
                        </div>
                        <div class="slide-item animate-img">
                            <a href="#">
                                <img src="assets/images/hotel4.jpg" class="image-fit" alt=""
                                style="width:440px;height:450px;">
                            </a>
                        </div>
                    </div>
                    <div class="shop-slider-nav row">
                        <div class="slide-item col-12">
                            <div class="animate-img">
                                <a href="#">
                                    <img src="assets/images/hotel1.jpg" class="image-fit" alt=""
                                    style="width:120px;height:140px;">
                                </a>
                            </div>
                        </div>
                        <div class="slide-item col-12">
                            <div class="animate-img">
                                <a href="#">
                                    <img src="assets/images/hotel2.jpg" class="image-fit" alt=""
                                    style="width:120px;height:140px;">
                                </a>
                            </div>
                        </div>
                        <div class="slide-item col-12">
                            <div class="animate-img">
                                <a href="#">
                                    <img src="assets/images/hotel3.jpg" class="image-fit" alt=""
                                    style="width:120px;height:140px;">
                                </a>
                            </div>
                        </div>
                        <div class="slide-item col-12">
                            <div class="animate-img">
                                <a href="#">
                                    <img src="assets/images/hotel4.jpg" class="image-fit" alt=""
                                    style="width:120px;height:140px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="shop-right-side">
                    <!-- shop title -->
                    <div class="top-head">
                        <p class="text-orange fw-500 mb-xl-10"> <i class="fal fa-map-marker-alt"></i>
                            <span> {{currentHotel.address}}</span>
                        </p>
                        <h3 class="fw-700 title"><a href="#">{{currentHotel.name}}</a></h3>
                    </div>
                    <!-- Shop pricing -->
                    <div class="shop-pricing-sec">
                        <div class="price">
                            <ins> 245.00 DT</ins>
                            <del> 399.99 DT</del>
                        </div>
                        <!-- stars -->
                        <div class="stars-review">
                            <div class="stars">
                                <span class="active"><i class="fas fa-star"></i></span>
                                <span class="active"><i class="fas fa-star"></i></span>
                                <span class="active"><i class="fas fa-star"></i></span>
                                <span class="active"><i class="fas fa-star"></i></span>
                                <span class="active"><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- Shop description -->
                    <p class="fw-500">{{currentHotel.description}}</p>
                    <!-- shop meta -->
                    <ul class="custom shop-meta">
                        <li><strong>Disponibilité:</strong> Valable</li>
                    </ul>
                    <!-- Shop content -->
                    <div class="shop-deta">
                        <div class="row justify-content-center">
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <h6 class="fw-600 mb-xl-10">Personnes</h6>
                                    <select class="custom-select select-style-2" id="cars" name="cars">
                                        <option value="volvo">1</option>
                                        <option value="saab">2</option>
                                        <option value="mercedes">3</option>
                                        <option value="audi">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <h6 class="fw-600 mb-xl-10">Type de logement</h6>
                                <div class="form-group">
                                    <select class="custom-select select-style-2">
                                        <option>Chambre Double</option>
                                        <option>Chambre Triple</option>
                                        <option>Appartement 2 Chambres</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!-- shop action -->
                        <div class="row justify-content-center">
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <button type="button" class="theme-btn btn-transparent full-width">
                                        <i class="fal fa-credit-card"></i>
                                        Réserver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End shop detail -->
<app-footer-three></app-footer-three>