<app-header-one></app-header-one>
<!-- Start Slider -->
<div class="main-slider-section p-relative">
    <div class="main-slider">
        <div class="slide-item">
            <img src="assets/images/banner-1.jpg" class="image-fit">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="banner-content">
                                <a href="#" class="video-btn">
                                    <i class="fas fa-play"></i>
                                </a>
                                <h1 class="text-custom-white fw-600 heading-title">Prosfer with a good planning and assets.</h1>
                                <p class="no-margin text-custom-white">We seamlessly merge two key components – economics & informatio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <img src="assets/images/banner-bg.jpg" alt="" class="image-fit">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="banner-content">
                                <a href="#" class="video-btn">
                                    <i class="fas fa-play"></i>
                                </a>
                                <h2 class="text-custom-white fw-600 heading-title">Prosfer with a good planning and assets.</h2>
                                <p class="no-margin text-custom-white">We seamlessly merge two key components – economics & informatio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider nav -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="main-slider-nav">
                    <div class="slide-item">
                        <h4 class="fw-600 mb-xl-10">Sustainability and strategy</h4>
                        <p class="no-margin fw-500">Marge with our great team</p>
                    </div>
                    <div class="slide-item">
                        <h4 class="fw-600 mb-xl-10">Digital planning with team</h4>
                        <p class="no-margin fw-500">Get an amazing experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider -->
<!-- Start About -->
<section class="section-padding about-sec count-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-images p-relative mb-md-80">
                    <img src="assets/images/about-img-1.jpg" class="img-fluid image-one" alt="">
                    <img src="assets/images/about-icon-1.png" class="img-fluid icon-one" alt="">
                    <img src="assets/images/about-img-2.jpg" class="img-fluid image-two" alt="">
                    <img src="assets/images/about-icon-2.png" class="img-fluid icon-two" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>About Us</span></h6>
                        <h3 class="text-blue fw-700 title">Core level values and amazing team<span class="text-orange">.</span></h3>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <span class="count">82</span><span class="text-orange fs-16">%</span>
                    </div>
                    <div class="col-8">
                        <h4 class="mb-xl-10 fw-600">Our mission and vision<span class="text-orange">.</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Start Profit Share -->
<section class="section-padding bg-light-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-md-80">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Profit Share</span></h6>
                        <h3 class="text-blue fw-700 title">Any kind business profit share<span class="text-orange">.</span></h3>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    </div>
                </div>
                <ul class="custom profit-list">
                    <li>Kind business & shop profit share</li>
                    <li>Solid solution with great intregation</li>
                </ul>
                <a routerLink='/project-detail' class="theme-btn btn-orange">
                    Case Study <i class="fal fa-plus"></i>
                </a>
            </div>
            <div class="col-lg-6">
                <div class="profit-chart-box">
                    <a routerLink='/' class="chart-logo">
                        <img src="assets/images/logo-icon.png" class="image-fit" alt="">
                    </a>
                    <a href="#" class="profit-icon icon-ps-1">
                        <span class="icon">
                            <i class="flaticon-receipt"></i>
                        </span>
                        <span class="icon-text">Finance</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-2">
                        <span class="icon">
                            <i class="flaticon-businessman"></i>
                        </span>
                        <span class="icon-text">Consultancy</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-3">
                        <span class="icon">
                            <i class="flaticon-tax"></i>
                        </span>
                        <span class="icon-text">Tax</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-4">
                        <span class="icon">
                            <i class="flaticon-label"></i>
                        </span>
                        <span class="icon-text">Profit Share</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-5">
                        <span class="icon">
                            <i class="flaticon-payment-method"></i>
                        </span>
                        <span class="icon-text">Banking</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-6">
                        <span class="icon">
                            <i class="flaticon-presentation"></i>
                        </span>
                        <span class="icon-text">Growth</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-7">
                        <span class="icon">
                            <i class="flaticon-suitcase"></i>
                        </span>
                        <span class="icon-text">Policy</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-8">
                        <span class="icon">
                            <i class="flaticon-credit"></i>
                        </span>
                        <span class="icon-text">Home Loan</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Profit Share -->
<!-- Start Process -->
<section class="section-padding process-sec p-relative">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-orange mb-xl-10 sub-heading"><span>Process</span></h6>
                <h3 class="text-blue fw-700 title">How your business going witn us<span class="text-orange">.</span></h3>
            </div>
        </div>
        <div class="lb-big-text">Process</div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="process-box">
                    <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                    <h4 class="fw-600">Get a free trail option</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <span class="icon text-orange">
                        <i class="flaticon-statistics"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="process-box">
                    <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                    <h4 class="fw-600">More solid research</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <span class="icon text-orange">
                        <i class="flaticon-market"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="process-box">
                    <a href="#" class="text-orange fw-600 fs-14">Read more <i class="fal fa-plus ml-1 fw-600 fs-12"></i></a>
                    <h4 class="fw-600">Save your finance</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <span class="icon text-orange">
                        <i class="flaticon-statistics"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Process -->
<!-- Start Skillset -->
<section class="skillset-sec">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <img src="assets/images/skillset.jpg" class="image-fit" alt="">
            </div>
            <div class="col-lg-6 bg-dark-blue section-padding">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Our Skillset</span></h6>
                        <h3 class="text-custom-white fw-700 title">Get amazing experience with our cool team<span class="text-orange">.</span></h3>
                        <p class="desc text-custom-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    </div>
                </div>
                <div class="skill-progress-bar-sec">
                    <div class="skill-progress-bar mb-xl-30">
                        <div class="progressbar-wrap">
                            <div class="progressbar" data-width="72"></div>
                        </div>
                        <div class="progressbar-text">
                            <p class="text-custom-white">Digital content create</p>
                            <p class="text-custom-white">72%</p>
                        </div>
                    </div>
                    <div class="skill-progress-bar mb-xl-30">
                        <div class="progressbar-wrap">
                            <div class="progressbar" data-width="80"></div>
                        </div>
                        <div class="progressbar-text">
                            <p class="text-custom-white">UI/UX Designing</p>
                            <p class="text-custom-white">80%</p>
                        </div>
                    </div>
                    <div class="skill-progress-bar mb-xl-30">
                        <div class="progressbar-wrap">
                            <div class="progressbar" data-width="90"></div>
                        </div>
                        <div class="progressbar-text">
                            <p class="text-custom-white">Digital consultancy</p>
                            <p class="text-custom-white">90%</p>
                        </div>
                    </div>
                    <div class="skill-progress-bar">
                        <div class="progressbar-wrap">
                            <div class="progressbar" data-width="98"></div>
                        </div>
                        <div class="progressbar-text">
                            <p class="text-custom-white">Youtube video making</p>
                            <p class="text-custom-white">98%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Skillset -->
<!-- Start Faqs -->
<section class="section-padding-top faqs-sec">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <div class="left-side">
                    <div class="section-header left-heading">
                        <div class="section-heading">
                            <h6 class="text-orange mb-xl-10 sub-heading"><span>FAQ</span></h6>
                            <h3 class="fw-700 title">You have to know before start everything<span class="text-orange">.</span></h3>
                        </div>
                    </div>
                    <div id="accordion" class="custom-faqs">
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                    How to import my whole data?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    How to import my whole data?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    How to import my whole data?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                    How to import my whole data?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-man p-relative">
                    <img src="assets/images/faq-man.png" class="image-fit" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faqs -->
<!-- Start Quote -->
<div class="quote-sec p-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="quote-box bg-dark-blue">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 mb-md-80">
                            <div class="section-header left-heading pb-0">
                                <div class="section-heading">
                                    <h6 class="text-orange mb-xl-10 sub-heading"><span>Get A Quote</span></h6>
                                    <h3 class="fw-700 title text-custom-white">Get a free consultancy right now<span class="text-orange">.</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <p class="text-custom-white">We help you see the world differently, discover opportunities you may never have imagined.</p>
                            <a href="#" class="text-custom-white contact-no">
                                <i class="fal fa-phone text-orange"></i>
                                +989 876 765 65 4
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quote -->
<!-- Start Gallery -->
<section class="section-padding slider-gallery-sec p-relative">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-12">
                <div class="slider-gallery row arrow-layout">
                    <div class="col-12 slide-item">
                        <img src="assets/images/gallery-1.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Consultancy</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Miranda halim group consultancy</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/gallery-2.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Consultancy</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Miranda halim group consultancy</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/gallery-3.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Consultancy</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Miranda halim group consultancy</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/gallery-4.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Consultancy</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Miranda halim group consultancy</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery -->
<!-- Start brand slider -->
<div class="section-padding bg-light-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="brand-slider row">
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-1.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-2.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-3.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-4.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-5.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-1.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-2.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-3.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-4.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/brand-5.png" class="image-fit" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brand slider -->
<!-- Start Testimonials -->
<section class="normal-bg section-padding testimonials-sec" style="background-image: url('assets/images/map-bg.jpg');">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-orange mb-xl-10 sub-heading"><span>Testimonials</span></h6>
                <h3 class="fw-700 title">Clients feedbacks<span class="text-orange">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider">
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-1.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-2.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-3.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-1.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-2.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/testi-3.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
<app-footer-one></app-footer-one>